<!DOCTYPE html>
<html lang="en">
  <!-- Home -->

  <head>
    <%- include("./components/scripts") %>
    <title>About</title>
  </head>

  <body>
    <%- include("./components/header") %>
    <main id="about-me">
      <div class="container">
        <div id="about-me-images">
          <img id="theo" src="/assets/theo.png" />
          <img id="cody" src="/assets/cody2.png" />
        </div>
        <h1 class="page-title">About Me</h1>
        <p>
          My name is Theo. I am 15 years old and I love gaming, creating music,
          and programming! I make gaming videos with games such as Minecraft and
          ARK: Survival Evolved. I also make tutorials on YouTube.
        </p>
      </div>
    </main>
    <script src="js/index.js"></script>
  </body>
</html>
