<!DOCTYPE html>
<html lang="en">
<!-- Home -->

<head>
    <%- include("components/scripts") %>
        <title>Home</title>
</head>

<body>
    <%- include("components/header") %>
        <!--     <header></header> -->
</body>

</html>