<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include("../components/scripts") %>
</head>

<body>
    <%- include("../components/header") %>
        <div class="container">
            <% if(session.user ) { %>
                <h2>Dashboard</h2>
                <p id="welcome">
                    Welcome,
                    <%= session.user.name %>.
                </p>
                <% } else { %>
                    <h2>You are not logged in! Redirecting you to the login page.</h2>
                    <script>
                        setTimeout(
                            () => {
                                window.location.href = '/dashboard/login'
                            },
                            2500
                        )
                    </script>
                    <% }%>
        </div>
        <script src="/js/index.js"></script>
        <script src="/js/dashboard.js"></script>
</body>

</html>