.showcase-banner {
    height: 350px;
    width: 100%;
    position: relative;
    background-image: url("/assets/MeBanner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: center;
    color: white;
    margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
    .showcase-banner {
        background-size: cover;
        margin-bottom: 0;
    }
}
