<!DOCTYPE html>
<html lang="en">
<!-- Blog Index -->

<head>
    <%- include("../components/scripts") %>
</head>

<body>
    <!-- include(Header and Scripts -->
    <%- include("../components/header") %>
        <div class="container" id="posts-container"></div>
        <script src="/js/index.js"></script>
        <script src="/js/blog-index.js"></script>
</body>

</html>