body {
    background-color: #2e2e2e;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "JetBrains Mono";
}

.red-text {
    color: #62BBC1;
    text-shadow: 2px 0 0 #040404, 0 -2px 0 #040404, 0 2px 0 #040404, -2px 0 0 #040404;
}

.active {
    transform: scale(75%);
}

main h2 {
    color: #62BBC1;
}

.page-title {
    color: #62BBC1;
    text-shadow: 2px 0 0 #040404, 0 -2px 0 #040404, 0 2px 0 #040404, -2px 0 0 #040404;
    font-weight: 700;
}

main {
    padding-top: 20px;
}

.search-container {
    width: 100%;
}

.card-body,
.card {
    background-color: #4d4d4d;
    border-radius: 8px;
}

.card-body a {
    text-decoration: none;
}

#posts-container .card-subtitle {
    color: #cecccc;
}

#dashboard {
    text-align: center;
}

#welcome {
    margin-bottom: 50px;
}

#about-me {
    text-align: center;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
}

#about-me p {
    max-width: 75%;
    display: inline-block;
}

.about-image {
    height: auto;
    min-width: 150px;
    max-width: 250px;
}

#services {
    float: right;
    padding-top: 25px;
}

#services h1 {
    float: center;
    text-align: center;
    color: #000;
    font-weight: bolder;
    position: relative;
    top: 10%;
    font-size: 18px;
}

.service ul {
    list-style-type: none;
}

.service {
    float: center;
    color: #fff;
    padding: 10px;
    position: relative;
    width: 100vw;
    height: 100%;
    text-align: center;
    background-color: #09c;
    border: 2px #fff solid;
}

.service p {
    float: center;
    color: #fff;
    position: relative;
    top: 10%;
    font-size: 14px;
}

.service h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #000;
    position: relative;
}

.service a {
    color: #000;
    text-align: center;
    float: center;
    position: relative;
}

.service a:hover {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    float: center;
    position: relative;
}

#boxes .box a {
    font-size: 14px;
    font-weight: 700;
    color: #48e5c2;
    text-align: center;
    float: center;
    position: relative;
}

#boxes .box a:hover {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    float: center;
    position: relative;
}

#soundcloud-link {
    font-weight: semi-bold;
}

.workinprogress-section {
    background-color: #ffae00;
    float: right;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 60%;
    width: 60%;
    height: 300px;
    border: 2px #fff solid;
}

.workinprogress-section h2 {
    font-size: 30px;
    font-weight: 700;
    color: #ff3801;
}

.workinprogress-section h1 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

.workinprogress-section a {
    font-size: 20px;
    font-weight: 400;
    color: #ff3801;
}

.workinprogress-section a:hover {
    font-size: 24px;
    font-weight: 400;
    color: #ff3801;
}

#music {
    float: right;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 60%;
    width: 60%;
    height: 300px;
    background-color: #09c;
    border: 2px #fff solid;
}

#music h1 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

#music h2 {
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    position: relative;
}

#music a {
    font-size: 20px;
    font-weight: 400;
    color: #ffca37;
    text-align: center;
    float: center;
    position: relative;
}

.blue {
    padding: 15px;
    background: #09c;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#featuredbox {
    color: #fff;
}

#showcase {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#showcase h1 {
    font-size: 55px;
    margin-top: 10px;
    padding-top: 1440px / vh;
}

#showcase p {
    font-size: 20px;
    width: 50%;
    text-align: center;
}

#boxes {
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
}

#boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 30%;
    height: 200px;
    margin-right: auto;
    padding: 10px;
}

#boxes .box p {
    font-size: 14px;
}

#boxes .box img {
    width: 90px;
}

aside#sidebar {
    float: right;
    width: 50%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    font-size: 18px;
    position: absolute;
    top: 30%;
    width: 50%;
    height: 20%;
}

#page-title {
    font-size: 22px;
}

article#main-col p {
    font-size: 18px;
}

footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: #232323;
    height: 50px;
    width: 100%;
}

footer p {
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    display: flex;
}

#music a:hover {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    float: center;
    position: relative;
}

.wrap {
    white-space: initial;
    word-wrap: break-word;
    clear: both;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    #theo {
        width: 125px;
    }
    #cody {
        width: 125px;
    }
}
